<div class="section-number reveal-type">Contact</div>
<MarqueeText
  id="about-marquee"
  text="Hola - Hello - Ciao - Bonjour - こんにちは - Hallo - Olá - 你好 - 안녕하세요 - ΓΕΙΑ ΣΑΣ - "
  [duration]="25"
  [fontSize]="80"
  [opacity]="0.2"
></MarqueeText>
<div class="container">
  <div class="section-title">(Contact)</div>
  <p>
    Are you on the lookout for a web developer? Do you have a project or an imaginative concept waiting to be realized? Don't hesitate to drop me an email so we can dive into the details. I'm all ears and excited to collaborate!
  </p>
</div>
<div class="socials">
  <div class="social-buttons">
    <a class="rounded-button magnetic" data-dist="3" href="mailto:andersongarcesgarcia@gmail.com" target="_blank">Email</a>
    <a class="rounded-button magnetic" data-dist="3" href="https://www.linkedin.com/in/andersongg/" target="_blank">LinkedIn</a>
    <a class="rounded-button magnetic" data-dist="3" href="https://github.com/AndersonGG21" target="_blank">Github</a>
    <a class="rounded-button magnetic" data-dist="3" href="https://www.instagram.com/ander._.gg/" target="_blank">Instagram</a>
  </div>
</div>
