<section class="about" id="about">
  <div class="call-to-action">
    <div class="section-number reveal-type" style="align-self: flex-start">
      (01)
    </div>
    <h2 class="reveal-type">
      If you're searching for a dedicated professional to bring your digital
      vision to life or enhance your brand's online presence, feel free to get
      in touch with me. I'm here to collaborate on meaningful projects that make
      an impact.
    </h2>
  </div>
  <div class="about-info">
    <div class="section-title">(About)</div>
    <div class="about-p">
      <p class="section-title">
        I'm Anderson Garces, 22 years old Web Developer. I was born in Medellín
        (Colombia)
      </p>
    </div>
    <div class="about-p">
      <p class="section-title">
        I'm Anderson Garces, 22 years old Web Developer. I was born in Medellín
        (Colombia)
      </p>
    </div>
  </div>
  <div class="text-animation">
    <app-text-animation></app-text-animation>
  </div>
</section>
