.about {
  height: 100vh;
  padding: 50px 20px;
}

.call-to-action,
.about-info {
  padding: 20px;
  display: flex;
  gap: 250px;
}

.call-to-action {
  margin-bottom: 100px;
}

.call-to-action h2 {
  width: 65%;
  text-align: left;
}

.text-animation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  align-self: flex-end;
}

.about-info {
  margin-top: 20px;
}