<main class="home-main">
  <header class="home-header">
    <div class="overlay">
      <svg viewBox="0 0 1000 1000">
        <path d="M 0 2 S 175 1 500 1 s 500 1 500 1 V 0 H 0 "></path>
      </svg>
    </div>
    <div class="menu">
      <div class="primary-menu">
        <div class="wrapper">
          <div class="menu-item">
            <a href="#"><span>I</span>INDEX</a>
            <div class="menu-item-revealer"></div>
          </div>
          <div class="menu-item">
            <a href="#"><span>II</span>WORK</a>
            <div class="menu-item-revealer"></div>
          </div>
          <div class="menu-item">
            <a href="#"><span>III</span>ABOUT</a>
            <div class="menu-item-revealer"></div>
          </div>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="magnetic radial-in rounded-sm"
      data-dist="3"
      id="menu-btn"
      (click)="start()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="35"
        height="35"
        viewBox="0 0 24 24"
        fill="none"
        class="magnetic magnetic-content"
        data-dist="2"
      >
        <path
          d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM17 17.25H7C6.59 17.25 6.25 16.91 6.25 16.5C6.25 16.09 6.59 15.75 7 15.75H17C17.41 15.75 17.75 16.09 17.75 16.5C17.75 16.91 17.41 17.25 17 17.25ZM17 12.75H7C6.59 12.75 6.25 12.41 6.25 12C6.25 11.59 6.59 11.25 7 11.25H17C17.41 11.25 17.75 11.59 17.75 12C17.75 12.41 17.41 12.75 17 12.75ZM17 8.25H7C6.59 8.25 6.25 7.91 6.25 7.5C6.25 7.09 6.59 6.75 7 6.75H17C17.41 6.75 17.75 7.09 17.75 7.5C17.75 7.91 17.41 8.25 17 8.25Z"
          fill="var(--foreground)"
        />
      </svg>
    </button>
  
    <div class="personal-image">
      <app-marquee></app-marquee>
      <app-text-animation></app-text-animation>
    </div>
  </header>
  <section class="project-list">
    <app-projects-list></app-projects-list>
  </section>
</main>
