.home-main {
  height: 100%;
  position: relative;
}

.personal-image {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #918d8d;
  display: flex;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  align-items: flex-end;
}

.project-list {
  height: 100vh;
  width: 100vw;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  background-color: #002e62;
}

footer {
  height: 80vh;
  padding: 20px;
}

@media (max-width: 576px) {
  
}

/* De 993px a 1200px (Pantallas de escritorio y laptops) */
@media (min-width: 993px) and (max-width: 1200px) {

}

/* Más de 1200px (Pantallas grandes) */
/* @media (min-width: 1201px) {
  .menu {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
} */