<section class="project-title">
  <div style="z-index: 99">
    <MarqueeText
      [fontSize]="120"
      text="{{ project.name }}"
      [duration]="60"
      [opacity]="1"
      id="project-title-marquee"
      class="marquee-text"
    ></MarqueeText>
  </div>
  <img src="{{ project.mockupImage }}" alt="" />
  <div style="z-index: -1">
    <MarqueeText
      [fontSize]="120"
      text="{{ project.name }}"
      [duration]="60"
      [opacity]="1"
      id="project-title-marquee-2"
      class="marquee-text"
    ></MarqueeText>
  </div>
  <div class="tags-container">
    <div class="tags">
      <div class="small-tag">technologies</div>
      <ul>
        <li *ngFor="let tech of project.technologies">
          {{ tech }}
        </li>
      </ul>
    </div>
    <div class="tags">
      <div class="small-tag">industry</div>
      <ul>
        <li>{{ project.industry }}</li>
      </ul>
    </div>
    <div class="tags">
      <div class="small-tag">year</div>
      <ul>
        <li>{{ project.year }}</li>
      </ul>
    </div>
  </div>
</section>
<section class="project-info">
  <h1>OVERVIEW</h1>
  <div>
    <p>{{ project.overview }}</p>
  </div>
</section>
<div class="reveal">
  <img src="{{ project.images[0] }}" alt="Project Image" />
</div>
<footer class="project-footer">
  <a
    class="rounded-button magnetic sm"
    data-dist="3"
    href="{{ project.github[0] }}"
    target="_blank"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-external-link"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#ffffff"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
      <path d="M11 13l9 -9" />
      <path d="M15 4h5v5" />
    </svg>
    Front</a
  >
  <h4>Source Code</h4>
  <a
    class="rounded-button magnetic sm"
    data-dist="3"
    href="{{ project.github[1] }}"
    target="_blank"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-external-link"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="#ffffff"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
      <path d="M11 13l9 -9" />
      <path d="M15 4h5v5" />
    </svg>
    Back
  </a>
</footer>
