.project-title {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  place-content: center;
  overflow-x: hidden;
  position: relative;
  background: rgb(16, 16, 16);
  gap: 80px;
}

.marquee-text:nth-child(1) {
  z-index: 1;
}

.marquee-text:nth-child(2) {
  z-index: -1;
}

.project-title img {
  position: absolute;
  max-width: 400px;
  max-height: 400px;
  align-self: center;
}

.tags-container {
  width: 100%;
  font-size: 10px;
  height: 100px;
  font-weight: 100;
  display: flex;
  justify-content: space-evenly;
}

.tags {
  display: flex;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.technologies ul li {
  line-height: 20px;
}

.small-tag {
  width: max-content;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 100vw;
  padding: 5px;
}

.project-info {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--foreground);
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  color: red;
  padding: 20px;
}

.project-info p{
  font-size: 18px;
  width: 60ch;
  align-self: flex-end;
  text-overflow: ellipsis;
}

.image-grid {
  box-sizing: border-box;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  gap: 16px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-col-4 {
  grid-column: span 4;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.image-grid .reveal > img {
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
}

.reveal {
  overflow: hidden;
}

@media screen and (max-width : 1024px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
  }

  .project-info {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .project-info p {
    width: 100%;
  }
}