.marquee__part {
  flex-shrink: 0;
  font-smooth: always;
}

.marquee {
  font-weight: 500;
  font-size: var(--fontSize);
  padding: 20px 0;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.marquee__inner {
  -webkit-font-smoothing: antialiased;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
}

/* .divider {
  width: 50%;
  height: 50%;
} */
