.cursor, .hand, .project-cursor {
  position: fixed;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: transform .1s;
}

.cursor {
  background-color: var(--foreground);
  top: 0;
  width: 10px;
  height: 10px;
  z-index: 999;
}

.hand, .project-cursor {
  background: var(--red);
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 999;
  display: grid;
  place-content: center;
  transform: rotate(45deg);
  opacity: 0;
}

.project-cursor {
  background: none;
  border: 1px solid var(--foreground);
  padding: 5px;
}

.project-cursor span{
  font-size: medium;
}

.hand svg {
  width: 40px;
}

@media screen and (max-width : 1024px) { 
  .cursor,
  .hand,
  .project-cursor {
    display: none;
  }
}