.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(10, 10, 10, 0.95);
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all ease-in-out;
  display: none;
}

.navigation-menu {
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--bg-primary);
}

.navigation-menu ul {
  list-style: none;
  text-align: center;
}

.navigation-menu ul li a {
  font-size: 56px;
  text-decoration: none;
  line-height: 100px;
  color: var(--foreground);
}

.navigation-menu ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transition: all 0.5s ease;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.navigation-menu ul li:hover::before {
  opacity: 1;
  background-color: var(--foreground);
  transition: all 0.5s ease;
}

.navigation-menu ul li {
  transition: all 0.5s ease;
  position: relative;
}

.navigation-menu ul li:hover {
  transform: translate(-20px);
  transition: all 0.5s ease;
}

.contact-buttons {
  margin-top: 50px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.contact-buttons a {
  text-decoration: none;
  color: var(--foreground);
}

.nav-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--foreground);
  display: flex;
  align-items: center;
  font-size: small;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.nav-button::after {
  content: "";
  position: absolute;
  background: var(--content);
  width: 100%;
  padding-top: 100px;
  transition: 0.75s ease;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 999px;
  top: 300%;
  z-index: -10;
}

.nav-button:hover:after {
  top: 50%;
}

.close-button {
  position: fixed;
  top: 30px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  z-index: 4;
  scale: 0;
  /* transition: all 0.5s ease-in-out; */
}

.menu-item {
  display: block;
  position: relative;
}

.close-button span {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: var(--foreground);
  border-radius: 4px;
}

.close-button span:nth-child(1) {
  transform: translateY(-15px);
  transition: all 0.5s ease-in-out;
}

.close-button span:nth-child(2) {
  transform: translateY(15px);
  transition: all 0.5s ease-in-out;
}

.close-button span:nth-child(3) {
  width: 30px;
  transition: all 0.5s ease-in-out;
}

.close-button.active span:nth-child(2) {
  transform: translateX(60px);
  transition: all 0.5s ease-in-out;
}

.close-button.active span:nth-child(1) {
  width: 40px;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.close-button.active span:nth-child(3) {
  width: 40px;
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 576px) {
  .navigation-menu {
    width: 90%;
  }

  .nav-button {
    width: 100px;
    height: 100px;
    margin-right: 5px;
  }
}
