<div class="overlay">
  <div class="navigation-menu">
    <ul>
        <li><a href="" class="menu-item">Work</a></li>
        <li><a href="" class="menu-item">About</a></li>
        <li><a href="" class="menu-item">Contact</a></li>
    </ul>
    <div class="contact-buttons">
        <a class="rounded-button magnetic" data-dist="3" href="https://www.linkedin.com/in/andersongg/" target="_blank">LinkedIn</a>
        <a class="rounded-button magnetic" data-dist="3" href="https://github.com/AndersonGG21" target="_blank">Github</a>
    </div>
  </div>
</div>
<button class="close-button" (click)="toggleMenu()" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave()">
    <span></span>
    <span></span>
    <span></span>
</button>
