.project {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  padding: 20px;
  gap: 50px;
}

.numeral {
  font-size: 150px;
  display: flex;
  opacity: 0.8;
  z-index: -1;
  width: 100%;
  flex: 1;
  align-items: flex-end;
}

.work-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.work-imgs-container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
}

.tags {
  font-size: 15px;
  opacity: 0.8;
}

.work-title {
  font-size: 150px;
  font-weight: 400;
  /* line-height: 200px; */
}

.images-container {
  width: 350px;
  height: 100%;
  background: var(--bg-img);
  background-position: 0 0;
  overflow: hidden;
  border-radius: 8px;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.project-links a {
  display: block;
  text-decoration: none;
  color: var(--foreground);
  font-size: 15px;
}

.project:nth-child(1) {
  background: var(--green);
}

.project:nth-child(2) {
  background: var(--red);
}

.project:nth-child(3) {
    background: var(--grey)
}

.project:nth-child(4) {
    background: var(--l-black);
}

@media screen and (max-width : 1024px) {
  .work-title {
    font-size: 100px;
  }

  .project {
    align-items: center;
    justify-content: center;
  }

  .numeral {
    flex: 0;
  }
}