.preview {
  position: absolute;
  width: 250px;
  height: 250px;
  pointer-events: none;
  transform-origin: center;
  transform: scale(0);
}

.preview-img {
  width: 100%;
  height: 100%;
  background: url("../../../assets/images/bg-images.png");
  background-size: cover;
  background-position: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

p {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 100%;
}

#header p {
  opacity: 0.5;
  pointer-events: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.project {
  width: 100%;
  padding: 2.5em 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}

.project > div {
  flex: 3;
}

.project div:last-child {
  flex: 1;
}

@media (max-width: 900px) {
  .location,
  .service {
    display: none;
  }
}
