.preview {
  position: absolute;
  width: 345.38px;
  height: 250px;
  margin: 0;
  padding: 0;
  pointer-events: none;
  transform-origin: center;
  transform: scale(0);
}

.preview-img {
  width: 100%;
  height: 100%;
  background: url("../../../assets/images/bg.png");
  background-size: cover;
  background-position: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.project p {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 100%;
}

.project .client p {
  font-size: 28px;
  font-family: Subjectivity-bold;
}

#header p {
  opacity: 0.5;
  pointer-events: none;
}

.container {
  height: 100vh;
  display: flex;
  padding: 20px;
}

.projects {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.project {
  width: 100%;
  padding: 2.5em 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}

.project > div {
  flex: 3;
}

.project div:last-child {
  flex: 1;
}

@media (max-width: 900px) {
  .location,
  .service {
    display: none;
  }
}
