<div class="preview">
  <div class="preview-img"></div>
</div>
<div class="container">
  <section class="projects" #projects>
    <h6>Index</h6>
    <div
      class="project"
      id="p1"
      (mousemove)="moveProject($event)"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
      (click)="scrollTo('#springnet')"
    >
      <div class="client">
        <p>SpringNet</p>
      </div>
    </div>
    <div
      class="project"
      id="p2"
      (mousemove)="moveProject($event)"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      <div class="client">
        <p>Idioom</p>
      </div>
    </div>
    <div
      class="project"
      id="p3"
      (mousemove)="moveProject($event)"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      <div class="client">
        <p>Hardware Industry CRM</p>
      </div>
    </div>
    <div
      class="project"
      id="p4"
      (mousemove)="moveProject($event)"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      <div class="client">
        <p>Food App</p>
      </div>
    </div>
  </section>
  <div class="hero-works">
    <div class="work-list-wrapper">
      <div class="title-first reveal-type2">SELECTED</div>
      <div class="title-second">
        <span class="reveal-type2">PROJECTS</span>
      </div>
    </div>
    <div class="timeline">
      <span>2020</span>
      <div class="separator"></div>
      <span>2023</span>
    </div>
  </div>
</div>
