.preview {
  position: absolute;
  width: 150px;
  height: 100px;
  margin: 0;
  padding: 0;
  pointer-events: none;
  transform-origin: center;
  transform: scale(0);
}

.preview-img {
  width: 100%;
  height: 100%;
  background: url("../../../assets/images/bg.png");
  background-size: cover;
  background-position: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.project .client p {
  font-size: 14px;
  font-family: Subjectivity-bold;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.projects {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-self: flex-end;
}

.project {
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--foreground);
  cursor: pointer;
}

.project > div {
  flex: 3;
}

.project div:last-child {
  flex: 1;
}

.hero-works {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-first,
.title-second {
  font-size: 150px;
  font-weight: 400;
}

.title-second {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.timeline {
  margin-top: 80px;
  display: flex;
  align-items: center;
  align-self: center;
  display: flex;
  gap: 5px;
}

.timeline span {
  font-size: small;
}

.separator {
  width: 100px;
  height: 1px;
  background-color: var(--foreground);
}
