<div class="preview">
  <div class="preview-img"></div>
</div>
<div class="container">
  <div class="h-large reveal-type" style="align-self: flex-start;">(02)</div>
  <section class="projects" #projects>
    <div class="h-sm">(Projects)</div>
    <div
      class="project"
      id="p1"
      (mousemove)="moveProject($event)"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      <div class="client">
        <p>SpringNet</p>
      </div>
      <div class="service">
        <p>Social Media Web Application</p>
      </div>
    </div>
    <div
      class="project"
      id="p2"
      (mousemove)="moveProject($event)"
      (click)="projectRedirect('p2')"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      <div class="client">
        <p>Idioom</p>
      </div>
      <div class="service">
        <p>LMS Web Application</p>
      </div>
    </div>
    <div
      class="project"
      id="p3"
      (mousemove)="moveProject($event)"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      <div class="client">
        <p>Hardware Industry CRM</p>
      </div>
      <div class="service">
        <p>CRM Web Application</p>
      </div>
    </div>
    <div
      class="project"
      id="p4"
      (mousemove)="moveProject($event)"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      <div class="client">
        <p>Food App</p>
      </div>
      <div class="service">
        <p>Graphic Design</p>
      </div>
    </div>
  </section>
</div>
