.animated-p {
  font-size: 20px;
  text-align: center;
  color: var(--foreground);
  margin: 0;
  line-height: 0;
}

.animated-p:nth-child(1) {
  color: var(--orange);
}

.animated-p:nth-child(2) {
  color: var(--red);
}

.animated-p:last-child {
  color: var(--green);
}
