@font-face {
  font-family: "Subjectivity";
  src: url("assets/fonts/Subjectivity-Regular.otf");
}

@font-face {
  font-family: "Subjectivity-bold";
  src: url("assets/fonts/Subjectivity-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-primary: #151515;
  --foreground: #ecedee;
  --content: #18181b;
  --content-sl: #27272a;
  --secondary: #9353d3;
}

html {
  font-family: "Subjectivity";
  font-size: 25px;
  background-color: var(--bg-primary);
  color: #ecedee;
  scroll-behavior: auto;
  overflow-x: hidden;
  border: none;
}

html::-webkit-scrollbar {
  display: none;
}


ul {
  list-style: none;
}

a {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.section-number {
  font-size: 50px;
  color: var(--secondary);
}

.section-title {
  font-size: 0.55rem;
  color: var(--foreground);
  width: 250px;
}

.rounded-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--foreground);
  display: flex;
  align-items: center;
  font-size: small;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.sm {
  width: 50px;
  height: 50px;
}

.rounded-button::after {
  content: "";
  position: absolute;
  background: var(--secondary);
  width: 100%;
  padding-top: 100px;
  transition: 0.75s ease;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 999px;
  top: 300%;
  z-index: -10;
}

.rounded-button:hover:after {
  top: 50%;
}
